#map {
  width: 100%;
  height: 100%;
}
.container {
  margin: 30px;
}

.btn {
  margin: 10px;
}

.map-container {
  width: 700px;
  height: 500px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 20px;
  border: 2px solid black;
}

.gridTileCoordinates {
  margin: 0;
  position: absolute;
  width: 100%;
  padding: 10px;
  z-index: 9;
}
.gridTileZoom {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 8;
}

.leaflet-zoom-control {
  width: 60px;
  height: 22px;
  text-align: center;
  font: bold 12px/20px Tahoma, Verdana, sans-serif;
  background-color: white;
  cursor: default;
}
